<html>

<head><i appLoadScript [script]="'../../assets/js/jquery.min.js'"></i></head>

<body style = "min-height: 100vh; height : auto ;">
  <app-header></app-header>
  <div class="heading">
    <h1>Insert Teacher</h1>
  </div>
  <div class="container">
    <div class="form">
      <form>

        <div class="clear"></div>
        <div class="form-text">
          <label class="head">Name</label>
          <input type="text" [(ngModel)]="teacher.teacherName" name="teacherName"
            placeholder="Enter Teacher Name" />
        </div>

        <div class="clear"></div>
        <div class="form-text">
          <label class="head">Address</label> <input [(ngModel)]="teacher.teacherAddress" name="teacherAddress" type="text"
            placeholder="Enter Teacher Address" />
        </div>

        <div class="clear"></div>
        <div class="form-text">
          <label class="head">Mobile</label> <input [(ngModel)]="teacher.teacherMobile" type="text" name="teacherMobile"
            placeholder="Enter Teacher Mobile no" />
        </div>

        <div class="clear"></div>
        <div class="form-text">
          <label class="head">Email Id</label> <input [(ngModel)]="teacher.teacherEmailId" type="text" name="teacherEmailId"
            placeholder="Enter Teacher Email Id" />
        </div>

        <div class="clear"></div>
        <div class="form-text">
          <label class="head">Salary</label> <input [(ngModel)]="teacher.teacherSalary" type="text" name="teacherSalary"
            placeholder="Enter Teacher Salary" />
        </div>

        <div class="clear"></div>
        <div class="form-options1">
          <label class="head">Designation</label> <select class="category1" [(ngModel)]="teacher.teacherDesignation" name="teacherDesignation">
            <option value="" [selected]="true">---Select Designation---</option>
            <option value="PROFESSOR">Professor</option>
            <option value="TEACHING_ASSISTANCE">Teaching Assistance</option>
            <option value="LAB_STAFF">Lab Staff</option>
          </select>
        </div>

        <div class="clear"></div>
        <div class="butn">
          <input type="button" name="action" value="Insert Teacher" (click)="insertTeacher();">
        </div>
        <div class="clear"></div>
        <div class="butn">
          <input type="reset" name="action" value="Reset">
        </div>

        <div class="clear"></div>
        <div class="butn">
          <input type="button" name="action" value="Back" routerLink="/index">
        </div>
      </form>
    </div>
  </div>
</body>

</html>
