<html>

  <head><i appLoadScript [script]="'../../assets/js/jquery.min.js'"></i></head>

  <body style="min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Insert Student</h1>
    </div>

    <div class="container">
      <div class="form">
        <form>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Name</label> <input name="studentName" type="text" id="studentName"
              [(ngModel)]="student.studentName" placeholder="Enter Student Name" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Class</label> <input name="studentClass" type="text" id="studentClass"
              [(ngModel)]="student.studentClass" placeholder="Enter Student Class" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Address</label> <input name="studentAddress" type="text" id="studentAddress"
              [(ngModel)]="student.studentAddress" placeholder="Enter Student Address" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Mobile</label> <input name="studentMobile" type="text" id="studentMobile"
              [(ngModel)]="student.studentMobile" placeholder="Enter Student Mobile" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Email</label> <input name="studentEmailId" type="text" id="studentEmailId"
              [(ngModel)]="student.studentEmailId" placeholder="Enter Student Email Id" />
          </div>

          <div class="clear"></div>
          <div class="form-options1">
            <label class="head">Gender</label> <select name="studentGender" id="studentGender" class="category1"
              [(ngModel)]="student.studentGender">
              <option value="">---Select Gender---</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Parent Name</label> <input name="studentParentName" type="text" id="studentParentName"
              [(ngModel)]="student.studentParentName" placeholder="Enter Student's Parent Name" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Parent Mobile</label> <input name="studentParentMobile" type="text"
              [(ngModel)]="student.studentParentMobile" id="studentParentMobile"
              placeholder="Enter tudent's Parent Mobile no" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Parent Email</label> <input name="studentParentEmailId" type="text"
              [(ngModel)]="student.studentParentEmailId" id="studentParentEmailId"
              placeholder="Enter Student's Parent Email Id" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Reference Name</label> <input name="studentReferenceName" type="text"
              [(ngModel)]="student.studentReferenceName" id="studentReferenceName"
              placeholder="Enter Student's Reference Name" />
          </div>

          <div class="clear"></div>
          <div class="butn">
            <input type="button" value="Insert Student" (click) ="insertStudent();">
          </div>
          <div class="clear"></div>
          <div class="butn">
            <input type="reset" value="Reset">
          </div>

          <div class="clear"></div>
          <div class="butn">
            <input type="button" value="Back" routerLink="/index">
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
