<html>

  <head><i appLoadScript [script]="'../../assets/js/jquery.min.js'"></i></head>

  <body  style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Students By Teacher Id</h1>
    </div>


    <div class="container">
      <div class="form">
        <form method="get" action="#" id="showStudentsByTeacherIdForm">

          <div class="clear"></div>
          <div class="form-options1">
            <label class="head">Teacher Id</label> <select name="teacherId" class="category1" id="teacherId">
              <option value="">---Select Teacher Id---</option>
              <option value="${teacher.teacherId}">aniket(123345)</option>
            </select>
          </div>

          <div class="clear"></div>
          <div class="butn">
            <input type="button" name="action" value="Show Students" routerLink = "/teacherStudent/showStudentsByTeacherId">
          </div>
          <div class="clear"></div>
          <div class="butn">
            <input type="reset" name="action" value="Reset">
          </div>

          <div class="clear"></div>
          <div class="butn">
            <input type="button" name="action" value="Back" routerlink = "/index">
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
