<html>

  <head><i appLoadScript [script]="'../../assets/js/jquery.min.js'"></i></head>

  <body style="min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Students By Teacher Id</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td class="head">Student Id</td>
          <td class="head">Name</td>
        </tr>
        <tr *ngFor="let student of students">
          <td class="b">{{student.studentId}}</td>
          <td class="data">{{student.studentName}}</td>
        </tr>
      </table>
      <div class="butn">
        <input type="submit" name="button" id="btnform" style="width: 10%;" value="BACK" routerLink="/index">
      </div>
    </div>
  </body>


</html>
