/*basic reset*/
* {
  margin: 0;
  padding: 0;
}
.error-display {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: default;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.c-error .c-validation {
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.c-error .c-validation:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;
  top: -10px;
}
.c-label:after {
  color: #c51244 !important;
}
.c-error input,
.c-error select,
.c-error .c-choice-option {
  background: #fff0f4;
  color: #c51244;
}
.c-error input,
.c-error select {
  border: 1px solid #c51244 !important;
}
.clear {
  clear: both;
}
a {
  color: black;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: underline;
}
.heading {
  text-align: center;
  margin: 1em auto;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.heading h1 {
  font-weight: 600;
}
centerClass {
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 10px;
}
.container {
  width: 45%;
  margin: 0 auto;
}
.container1 {
  width: 100%;
  margin: auto;
  align-content: center;
  margin-left: 5%;
  display: inline-block;
}
.link-container {
  flex-basis: 300px;
  padding: 3em;
  justify-content: center;
  background: rgba(171, 171, 171, 0.34);
  height: 50%;
}
.form {
  flex-basis: 300px;
  padding: 3em;
  justify-content: center;
  background: rgba(171, 171, 171, 0.34);
}
body {
  background-image: url("../images/bodyBk.jpg");
  background-size: cover;
  font-family: "PT Sans", sans-serif;
  background-attachment: fixed;
  background-position: center;
  height: auto;
  margin: 0;
  padding: 0;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-weight: 400;
}
label.head {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 2px;
  margin: 2px;
  display: block;
  color: #fff;
}
.form-text input[type="text"] {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px;
  width: 100%;
  outline: none;
  margin: 0px auto 2px;
  color: #000000;
}

.form-number input[type="number"] {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px;
  width: 100%;
  outline: none;
  margin: 0px auto 2px;
  color: #000000;
}
.form-password input[type="password"] {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px;
  width: 100%;
  outline: none;
  margin: 0px auto 2px;
  color: #000000;
}
.form-mail input[type="text"] {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  margin: 0px auto 2px;
  color: #000000;
}
.butn input[type="submit"],
.butn button[type="submit"] {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  width: 80%;
  margin: 10px auto 0px;
  box-sizing: border-box;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  display: block;
  color: #fff;
  background: #09a50e;
}

.butn input[type="submit"]:hover,
.butn button[type="submit"]:hover {
  background-color: #07e20e;
}
.butn input[type="button"] {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  width: 80%;
  margin: 10px auto 0px;
  box-sizing: border-box;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  display: block;
  color: #fff;
  background: #09a50e;
}
.butn input[type="button"]:hover {
  background-color: #07e20e;
}
.butn input[type="reset"],
.butn input[type="reset"] {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  width: 80%;
  margin: 10px auto 0px;
  box-sizing: border-box;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  display: block;
  color: #fff;
  background: #b81a25;
}
.butn input[type="reset"]:hover,
.butn button[type="reset"]:hover {
  background-color: #fb2d2d;
}
.form-options1 {
  float: left;
  width: 100%;
}
.form-options2 {
  float: right;
  width: 100%;
}
.form-options1 .category1 {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
  margin: 0 auto 2px;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 60%;
  background-color: white;
}
.form-options2 .category2 {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
  margin: 0 auto 2px;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  background-color: white;
}
/*--responsive--*/
@media (max-width: 1920px) {
}
@media (max-width: 1680px) {
}
@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
  .container {
    width: 55%;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 55%;
  }
  label.head {
    letter-spacing: 1px;
  }
}
@media (max-width: 1080px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 1050px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 991px) {
  .form {
    padding: 2em;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .form {
    padding: 2em;
  }
}
@media (max-width: 736px) {
}
@media (max-width: 667px) {
  .container {
    width: 80%;
  }
  .form {
    padding: 2em;
  }
  h1 {
    letter-spacing: 2px;
  }
  .butn input[type="submit"] {
    width: 60%;
  }
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
  h1 {
    letter-spacing: 1px;
  }
  footer {
    letter-spacing: 0px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  .form {
    padding: 2em;
  }
  footer {
    font-size: 14px;
  }
  footer a {
    font-size: 14px;
  }
}
@media (max-width: 568px) {
  .form {
    padding: 2em;
  }
  label.head {
    letter-spacing: 0px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 30px;
    line-height: 44px;
  }
  .form {
    padding: 1em;
  }
  .w3l-options1 .category1 {
    margin: 0 auto 30px;
  }
  .w3l-options1 {
    width: 100%;
  }
  .w3l-options2 {
    float: right;
    width: 100%;
  }
  .butn input[type="submit"] {
    width: 70%;
  }
}
@media (max-width: 414px) {
  .form {
    padding: 1em;
  }
  .container {
    width: 95%;
  }
  h1 {
    font-size: 28px;
  }
  .butn input[type="submit"] {
    width: 100%;
  }
}
@media (max-width: 384px) {
  .form {
    padding: 1em;
  }
  h1 {
    font-size: 26px;
  }
  .w3l-options1 {
    float: left;
    width: 100%;
  }
  .w3l-options2 {
    float: right;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .form {
    padding: 1em;
  }
}
@media (max-width: 320px) {
  .form {
    padding: 1em;
  }
  h1 {
    line-height: 36px;
  }
}
/*--/responsive--*/
