<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
  <body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Update Teacher</h1>
    </div>
    <div class="container">
      <div class="form">
        <form>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Name</label> <input name="teacherName" [(ngModel)]="teacher.teacherName"
              type="text" placeholder="Enter Teacher Name" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Address</label> <input name="teacherAddress" [(ngModel)]="teacher.teacherAddress"
              type="text" placeholder="Enter Teacher Address" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Mobile</label> <input name="teacherMobile" [(ngModel)]="teacher.teacherMobile"
              type="text" placeholder="Enter Teacher Mobile no" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Email Id</label> <input name="teacherEmailId" [(ngModel)]="teacher.teacherEmailId"
              type="text" placeholder="Enter Teacher Email Id" />
          </div>

          <div class="clear"></div>
          <div class="form-text">
            <label class="head">Salary</label> <input name="teacherSalary" [(ngModel)]="teacher.teacherSalary"
              type="text" placeholder="Enter Teacher Salary" />
          </div>

          <div class="clear"></div>
          <div class="form-options1">
            <label class="head">Designation</label> <select class="category1" [(ngModel)]="teacher.teacherDesignation"
              name="teacherDesignation">
              <option value="">---Select Designation---</option>
              <option value="PROFESSOR">Professor</option>
              <option value="TEACHING_ASSISTANCE">Teaching Assistance</option>
              <option value="LAB_STAFF">Lab Staff</option>
            </select>
          </div>

          <div class="clear"></div>
          <div class="butn">
            <input type="button" (click)="updateTeacher()" name="action" value="Update Teacher">
          </div>
          <div class="clear"></div>
          <div class="butn">
            <input type="reset" name="action" value="Reset">
          </div>

          <div class="clear"></div>
          <div class="butn">
            <input type="button" name="action" value="Back" (click)="showAllTeachers()">
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
