<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
  <body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Full Details</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td colspan="2" class="head">Student Personal Details</td>
        </tr>
        <tr>
          <td class="b">Student Id :</td>
          <td class="data">12123435</td>
        </tr>
        <tr>
          <td class="b">Name :</td>
          <td class="data">Aniket</td>
        </tr>
        <tr>
          <td class="b">Class :</td>
          <td class="data">12</td>
        </tr>
        <tr>
          <td class="b">Address:</td>
          <td class="data">Ahemdabad</td>
        </tr>
        <tr>
          <td class="b">Mobile :</td>
          <td class="data">9106447228</td>
        </tr>
        <tr>
          <td class="b">Email :</td>
          <td class="data">Aniket@gmail.com</td>
        </tr>
        <tr>
          <td class="b">Gender :</td>
          <td class="data">Male</td>
        </tr>
        <tr>
        </tr>

        <tr>
          <td colspan="2" class="head">Student Parents & Reference
            Details</td>
        </tr>
        <tr>
          <td class="b">Parents Name :</td>
          <td class="data">Kalpnaben</td>
        </tr>
        <tr>
          <td class="b">Parents Mobile :</td>
          <td class="data">9662300408</td>
        </tr>
        <tr>
          <td class="b">Parents Email :</td>
          <td class="data">kk@gmail.com</td>
        </tr>
        <tr>
          <td class="b">Reference Name :</td>
          <td class="data">YEsha</td>
        </tr>
      </table>
        <div class="btn">
          <input type="button" name="button" id="btnform" value="BACK" routerLink = "/student/showAll"/>
        </div>

    </div>
  </body>
</html>
