<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
  <body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Full Details</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td colspan="2" class="head">Student Personal Details</td>
        </tr>
        <tr>
          <td class="b">Student Id :</td>
          <td class="data">{{student.studentId}}</td>
        </tr>
        <tr>
          <td class="b">Name :</td>
          <td class="data">{{student.studentName}}</td>
        </tr>
        <tr>
          <td class="b">Class :</td>
          <td class="data">{{student.studentClass}}</td>
        </tr>
        <tr>
          <td class="b">Address:</td>
          <td class="data">{{student.studentAddress}}</td>
        </tr>
        <tr>
          <td class="b">Mobile :</td>
          <td class="data">{{student.studentMobile}}</td>
        </tr>
        <tr>
          <td class="b">Email :</td>
          <td class="data">{{student.studentEmailId}}</td>
        </tr>
        <tr>
          <td class="b">Gender :</td>
          <td class="data">{{student.studentGender}}</td>
        </tr>
        <tr>
        </tr>

        <tr>
          <td colspan="2" class="head">Student Parents & Reference
            Details</td>
        </tr>
        <tr>
          <td class="b">Parents Name :</td>
          <td class="data">{{student.studentParentName}}</td>
        </tr>
        <tr>
          <td class="b">Parents Mobile :</td>
          <td class="data">{{student.studentParentMobile}}</td>
        </tr>
        <tr>
          <td class="b">Parents Email :</td>
          <td class="data">{{student.studentParentEmailId}}</td>
        </tr>
        <tr>
          <td class="b">Reference Name :</td>
          <td class="data">{{student.studentReferenceName}}</td>
        </tr>
      </table>
        <div class="btn">
          <input type="button" name="button" id="btnform" value="BACK" (click)="showAllStudents()"/>
        </div>

    </div>
  </body>
</html>
