<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
<body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Students By Teacher Id</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td class="head">Student Id</td>
          <td class="head">Name</td>
        </tr>
          <tr>
            <td class="b">123243</td>
            <td class="data">Aniket Gajjar</td>
          </tr>
       </table>
      <form action="#">
        <div class="btn">
          <input type="submit" name="button" id="btnform" value="BACK"  routerLink = "/index"/>
        </div>
      </form>
    </div>
  </body>

</html>
