<!DOCTYPE html>
<head><i appLoadScript [script] = "'../../assets/js/bootstrap.min.js'"></i></head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" routerLink = "/index">Tuition Management System</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a routerLink = "/index">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Teacher <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink = "/teacher/insert">Insert Teacher</a></li>
						<li><a routerLink = "/teacher/showAll">Show All Teachers</a></li>
					</ul></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink = "/student/insert">Insert Student</a></li>
						<li><a (click)="showAllStudents();">Show All Student</a></li>
					</ul></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Teacher Student <span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink = "/teacherStudent/insert">Insert Mapping with Student</a></li>
						<li><a routerLink = "/teacherStudent/showStudentsByTeacherIdForm">Show	All Students for Teacher Id</a></li>
						<li><a (click)="showAllTeacherStudent()">Show	All TeacherStudent Mapping</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>
</body>
