<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
  <body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Full Details</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td colspan="2" class="head">Teacher Personal Details</td>
        </tr>
        <tr>
          <td class="b">Teacher Id :</td>
          <td class="data">{{teacher.teacherId}}</td>
        </tr>
        <tr>
          <td class="b">Name :</td>
          <td class="data">{{teacher.teacherName}}</td>
        </tr>
        <tr>
          <td class="b">Designation :</td>
          <td class="data">{{teacher.teacherDesignation}}</td>
        </tr>
        <tr>
          <td class="b">Address:</td>
          <td class="data">{{teacher.teacherDesignation}}</td>
        </tr>
        <tr>
          <td class="b">Mobile :</td>
          <td class="data">{{teacher.teacherMobile}}</td>
        </tr>
        <tr>
          <td class="b">Email :</td>
          <td class="data">{{teacher.teacherEmailId}}</td>
        </tr>
        <tr>
          <td class="b">Salary :</td>
          <td class="data">{{teacher.teacherSalary}}</td>
        </tr>
      </table>
        <div class="butn">
          <input type="button" name="button" id="btnform" style="width : 10% ;" value="BACK" (click)="showAllTeachers()">
        </div>
    </div>
  </body>
</html>
