<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
  <body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Show Full Details</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td colspan="2" class="head">Teacher Personal Details</td>
        </tr>
        <tr>
          <td class="b">Teacher Id :</td>
          <td class="data">12345</td>
        </tr>
        <tr>
          <td class="b">Name :</td>
          <td class="data">Kalpnaben</td>
        </tr>
        <tr>
          <td class="b">Designation :</td>
          <td class="data">Lab Staff</td>
        </tr>
        <tr>
          <td class="b">Address:</td>
          <td class="data">Ahemdabad</td>
        </tr>
        <tr>
          <td class="b">Mobile :</td>
          <td class="data">9662300408</td>
        </tr>
        <tr>
          <td class="b">Email :</td>
          <td class="data">Kalpanaben@gmail.com</td>
        </tr>
        <tr>
          <td class="b">Salary :</td>
          <td class="data">2500</td>
        </tr>
      </table>
        <div class="btn">
          <input type="button" name="button" id="btnform" value="BACK" routerLink = "/teacher/showAll">
        </div>
    </div>
  </body>
</html>
