<html>
  <head><i appLoadScript [script] = "'../../assets/js/jquery.min.js'"></i></head>
  <body style = "min-height: 100vh; height : auto ;">
    <app-header></app-header>
    <div class="heading">
      <h1>Teacher's Name</h1>
    </div>
    <div class="container1">
      <table>
        <tr>
          <td class="head">Teacher Id</td>
          <td class="head">Name</td>
        </tr>
         <tr *ngFor = "let teacher of teachers">
            <td class="b">{{teacher.teacherId}}</td>
            <td class="data">{{teacher.teacherName}}</td>
          </tr>
      </table>
        <div class="butn">
          <input type="button" name="button" id="btnform" value="BACK" style="width : 10% ;" (click) = "showAllStudents()">
        </div>
    </div>
  </body>
</html>
